//- this is a comment in pug not in html code
h1= "This is me"
//This is a comment in html
h2= "This is me <b>Nicole</b> Cherry"
h2!= "This is me <b>Nicole</b> Cherry"
//-
  This is a long comment
  that span many lines many
  many lines a lot of lines
// 
  And this a html comment
  that also spans many lines