-
  var calitati=["frumos","mare"]
  var defecte=["prost","urat"]

div(class=calitati)
|
|
div(class=defecte)
|
|
p(class=calitati class=defecte)
|
|
h1.fon80 Big size
|
|
h1.font80.colorWhite Big and white
|
|
.un-simplu-div-cu-aceasta-clasa-lunga