-
  var car={
    //- brand:"Mercedes",
    engine:"V8"
  }

  var caryear=0;

#cool-div
  if car.brand
    h1=car.brand 
    p It's a good card
  else if caryear==2020
    p You have a new car
  else
    p.simple You have a car.

unless caryear 
  p This is unless