doctype
html
  head
    title Home page
  body
    //- include menu
    .menu
    a.menu-link(href="#") Home
    //- include content
    h1 This is home page
    //- include footer
    footer
      | &copy; 2020