//- include menu
nav.menu
  |
  |
  a.menu-link(href="index-extends.html") Home
  |
  |
  a.menu-link(href="about-me.html") About Me
  a.menu-link(href="contact.html") Contact
  a.menu-link(href="portofolio.html") Portofolio