p I am a awesome paragraph with a #[span span inside] me
p I am a awesome paragraph with a #[span(class="nice-class") span whch have a class inside] me a
p
  |This paragraph spans
  | a lot of lines
  |many many lines
  |and even more lines
  |wohooo