div(code="<a>mere si pere</a>")
|
|
div(code!="<a>mere si pere</a>")
|
|
input(type="text" checked)
input(type="checkbox" checked=false)
|
|
input(type="checkbox" checked=true)
|
|
input(type="checkbox" checked=true && "checked")